<div ui-view="header"></div>

<div ng-controller="popularController" ng-app="app">
    <!--<div style="background-color: #fff; color: #333">
        <a ng-click="testPush()">Test push</a>
    </div>-->
    <div class="tabs__content" infinite-scroll="getShows()" infinite-scroll-disabled='busy' infinite-scroll-distance='1'>
        <div class="tabs__content_item" style="display: block;" ng-repeat="show in shows">
            <div class="tabs__content_item_block" ng-style="{'background': 'url({{show.poster}}) no-repeat', 'background-size': 'cover'}">
                <div class="tabs__content_item_bg">
                    <h3 class="title_en">{{show.name}}</h3>
                    <h2 class="tittle_ru">{{show.russian_name}}</h2>
                    <div class="block_button_section clearfix">
                        <div class="btn btn__like btn__left">
                            <button class="btn__like_bt js_active_like" ladda="show.likeLoading" ng-class="{active: show.subscription_id}" ng-click="like($event, show)">
                                <i class="icon icon_like"></i>
                            </button>
                        </div>
                        <div class="btn btn__bell btn__right">
                            <button class="btn__bell_bt js_popup1" ng-click="gotoShow(show.id)">
                                <i class="icon icon_bell"></i>
                            </button>
                        </div>
                        <div class="period btn__center">
                            <div class="im-onoffswitch">
                                <div class="onoffswitch clearfix">
                                    <input type="checkbox" class="onoffswitch-checkbox" ng-attr-id="{{'checkbox-' + show.id}}" ng-click="changePeriod($event)">
                                    <label class="onoffswitch-label clearfix" ng-attr-for="{{'checkbox-' + show.id}}">
                                        <span class="onoffswitch-inner">СЕРИЯ</span>
                                        <span class="onoffswitch-switch">СЕЗОН</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="in_production" ng-if="show.in_production">
                        <div class="datte">
                            <span class="datte__item grey">дата выхода серии </span>
                            <span class="datte__item while">
                                {{show.air_date_str}}
                            </span>
                        </div>
                        <div class="time">
                            <div class="time__top clearfix">

                                <div class="time__top_left grey">
                                    м
                                </div>
                                <div class="time__top_right grey">
                                    ч
                                </div>
                                <div class="time__top_center grey">
                                    д
                                </div>
                            </div>
                            <div class="time__bottom clearfix">
                                <div class="time__bottom_left while">
                                    {{show.air_date_detailed.months}}
                                </div>
                                <div class="time__bottom_right while">
                                    {{show.air_date_detailed.hours}}
                                </div>
                                <div class="time__bottom_center while">
                                    {{show.air_date_detailed.days}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!show.in_production">
                        <div class="datte">
                            <span class="datte__item grey">сериал завершен </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="busy" class="spinner-wrapper">
            <div ng-include src="'app/views/spinner.html'"></div>
        </div>
    </div>
</div>

<div ui-view></div>