<div ui-view="header"></div>

<div ng-controller="searchController as view" ng-app="app">
    <div class="search">
        <div class="search__button js_button" ng-click="toggleSearch($event)">
            <i class="icon icon_search_btn"></i>
        </div>
        <div class="search__text">
            <input type="text" placeholder="искомый сериал" ng-model="query" ng-keyup="init()">
        </div>
    </div>
    <div class="search-rezylt" ng-show="!busy">
        <div class="search-rezylt__bor">
            <h2 class="grey">{{totalDesc}}</h2>
            <div infinite-scroll="search()" infinite-scroll-disabled='busy' infinite-scroll-distance='1'>
                <div class="search-rezylt__block clearfix" ng-repeat="show in shows">
                    <div class="search-rezylt__block_img">
                        <img ng-src="{{show.poster}}" ng-alt="{{show.russian_name}}" height="300">
                    </div>
                    <div class="search-rezylt__block_text">
                        <h3 class="search-rezylt_title_ru">{{show.russian_name}}</h3>
                        <h4 class="search-rezylt_title_en">{{show.name}}</h4>
                        <div class="search-rezylt__info">
                            <button class="search-rezylt__like js_active_info" ladda="show.likeLoading" ng-class="{active: show.subscription_id}" ng-click="like($event, show)">
                                <i class="icon icon_like_info"></i>
                            </button>
                            <button class="search-rezylt__dz" ladda ng-click="gotoShow(show.id)">
                                <i class="icon icon_dz"></i>
                            </button>
                            <div class="search-rezylt__text">
                                <p>
                                    идет<br> <span class="red">{{show.season_number}}</span> сезон
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="spinner" class="spinner-wrapper">
        <div ng-include src="'app/views/spinner.html'"></div>
    </div>
</div>