<div class="modalDialog" ng-class="{'opened': show_details_popup}">
    <div class="im-info-modal-block">
        <div class="im-info-modal">
            <!--<div class="icon-info-modal">
                <img src="images/icons/icon-info-modal.png" alt="">
            </div>-->
            <div class="icon-info-modal ">
                <div class="bac-big" ng-class="{'element-animation2': show_details_popup}">
                </div>
                <div class="bac-littel" ng-class="{'element-animation2': show_details_popup}">
                </div>
                <img src="images/icons/call-ani/icon-call-d.png" alt="">
            </div>

            <div class="switch">
                <div class="onoffswitch">
                    <input type="checkbox" class="onoffswitch-checkbox" id="myonoffswitch" ng-click="changePeriod()" ng-model="selected.isSeason"/>
                    <label class="onoffswitch-label clearfix" for="myonoffswitch">
                        <span class="onoffswitch-inner">СЕРИЯ</span>
                        <span class="onoffswitch-switch">СЕЗОН</span>
                    </label>
                </div>
            </div>

            <div class="expanded__slider" ng-show="type == 'episode'">
                <div class="expanded__slider_block clearfix">
                    <div class="touch left">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="touch right">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="slik_slider center" id="scrolling">
                        <ul item-slide settings="sliderConfig">
                            <li ng-repeat="episode in selected.episodes" ng-class="{'gray': episode.aired}">
                                {{episode.number}}
                            </li>
                        </ul>
                    </div>
                    <div class="datte">
                        <span class="datte__item while" >
                            {{selected.episode_date}}
                        </span>
                    </div>
                </div>
            </div>

            <div class="info-text-block" ng-show="type == 'season'">
                <div class="datte">
                    <span class="datte__item while" ng-show="selected.status == 'airing'">
                        <span class="blue">{{selected.season_number}} сезон</span>  выходит
                    </span>
                    <span class="datte__item while" ng-show="!selected.status == 'closed'">
                        сериал завершен
                    </span>
                    <span class="datte__item while">
                        {{selected.air_date_str}}
                    </span>
                </div>
                <div class="time">
                    <div class="time__top clearfix">

                        <div class="time__top_left grey">
                            м
                        </div>
                        <div class="time__top_right grey">
                            ч
                        </div>
                        <div class="time__top_center grey">
                            д
                        </div>
                    </div>
                    <div class="time__bottom clearfix">
                        <div class="time__bottom_left while">
                            {{selected.season_air_date_detailed.months}}
                        </div>
                        <div class="time__bottom_right while">
                            {{selected.season_air_date_detailed.hours}}
                        </div>
                        <div class="time__bottom_center while">
                            {{selected.season_air_date_detailed.days}}
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="button-info">
        <button title="Close" class="button-info-licke" ng-class="{'disabled' : selected.subscribe_btn_disable}" ng-click="subscribe($event)" ladda="selected.subscribeLoading">
            <i class="icon icon-info-licke"></i>
        </button>
        <button title="Close" class="button-info-closed" ng-click="closePopup()">
            <i class="icon icon-info-closed"></i>
        </button>
    </div>
</div>