<div ng-controller="authController as view" ng-app="app">
    <div class="popup1 popup">
        <div class="closed js-closed">
            <a ui-sref="popular">
                <i class="icon icon-popup-closed"></i>
            </a>
        </div>
        <!--<h3>проверочный код</h3>-->
        <p>подтвердите указанный номер проверочным кодом из смс</p>
        <input type="text" placeholder="Введите код из смс" ng-model="code">
        <a class="btn_popup" ng-click="goto4()" ladda="loading">готово</a>
    </div>
</div>