<div ng-controller="authController">
    <div class="wrap">
        <div class="sing-2">
            <div class="sing-2__logo">
                <a href="#">
                    <img src="images/icon-sing2-logo.png" alt="">
                </a>
            </div>
            <div class="sing__info">
                <img src="images/info.png" alt="">
            </div>
            <div class="sing-2__text">
                выбирай сериал, включай уведомления <br> и не беспокойся. аппизод ничего не пропустит.
            </div>
            <div class="sing-2__button">
                <a ui-sref="auth-step3">Готово</a>
            </div>
            <div class="sing-2__nav-cricle">
                <span></span>
                <span class="active"></span>
                <span></span>
            </div>
        </div>
    </div>
</div>