<div ng-controller="authController" ng-app="app">
    <div class="wrap">
        <div class="sing-2">
            <div class="sing-2__logo">
                <a href="#">
                    <img src="../../../images/icons/icon-sing2-logo.png" height="30" width="208" alt="">
                </a>
            </div>
            <div class="sing-2__number" ng-click="togglePhone($event)">
                номер телефона
            </div>
            <div class="sing-2__input">
                <input type="tel" placeholder="+номер телефона" ng-model="number">
            </div>
            <div class="sing-2__text">
                текст про необходимость <br> привязки телефона
            </div>
            <div class="sing-2__button">
                <a ng-click="goto3()">Готово</a>
            </div>
            <div class="sing-2__nav-cricle">
                <span></span>
                <span class="active"></span>
            </div>
        </div>
    </div>
</div>