<div ng-controller="authController" ng-app="app">
    <div class="wrap">
        <div class="sing-1">
            <div class="sing-1__dz">
                <i class="icon icon__sing-dz"></i>
            </div>
            <div class="sing-1__logo">
                <a href="#">
                    <img src="../../../images/icons/icon-sing-logo.png" alt="">
                </a>
            </div>
            <div class="sing-1__text">
                сообщит о выходе серии или сезона <br> твоих любимых сериалов
            </div>
            <div class="sing-1__button">
                <a ui-sref="auth-step2">Понятно</a>
            </div>
            <div class="sing-1__nav-cricle">
                <span class="active"></span>
                <span></span>
            </div>
        </div>
    </div>
</div>