@charset "UTF-8";
@font-face {
  font-family: BebasNeueBold;
  src: url(../fonts/BebasNeueBold.otf);
}

@font-face {
  font-family: BebasNeueBook;
  src: url(../fonts/BebasNeueBook.otf);
}

@font-face {
  font-family: BebasNeueRegular;
  src: url(../fonts/BebasNeueRegular.otf);
}

@font-face {
  font-family: BebasNeueThin;
  src: url(../fonts/BebasNeueThin.otf);
}

@font-face {
  font-family: BebasNeue-Light;
  src: url(../fonts/BebasNeue-Light.otf);
}

@font-face {
  font-family: PTSerifPro;
  src: url(../fonts/PTSerifPro.otf);
}

@font-face {
  font-family: PTSerifProBlack;
  src: url(../fonts/PTSerifProBlack.otf);
}

@font-face {
  font-family: PTSerifProBlackItalic;
  src: url(../fonts/PTSerifProBlackItalic.otf);
}

@font-face {
  font-family: PTSerifProBold;
  src: url(../fonts/PTSerifProBold.otf);
}

@font-face {
  font-family: PTSerifProBoldItalic;
  src: url(../fonts/PTSerifProBoldItalic.otf);
}

@font-face {
  font-family: PTSerifProBook;
  src: url(../fonts/PTSerifProBook.otf);
}

@font-face {
  font-family: PTSerifProBookItalic;
  src: url(../fonts/PTSerifProBookItalic.otf);
}

@font-face {
  font-family: PTSerifProCaption;
  src: url(../fonts/PTSerifProCaption.otf);
}

@font-face {
  font-family: PTSerifProCaptionItalic;
  src: url(../fonts/PTSerifProCaptionItalic.otf);
}

@font-face {
  font-family: PTSerifProDemi;
  src: url(../fonts/PTSerifProDemi.otf);
}

@font-face {
  font-family: PTSerifProDemiItalic;
  src: url(../fonts/PTSerifProDemiItalic.otf);
}

@font-face {
  font-family: PTSerifProExtended;
  src: url(../fonts/PTSerifProExtended.otf);
}

@font-face {
  font-family: PTSerifProExtendedBlack;
  src: url(../fonts/PTSerifProExtendedBlack.otf);
}

@font-face {
  font-family: PTSerifProExtendedBlackItalic;
  src: url(../fonts/PTSerifProExtendedBlackItalic.otf);
}

@font-face {
  font-family: PTSerifProExtraBold;
  src: url(../fonts/PTSerifProExtraBold.otf);
}

@font-face {
  font-family: PTSerifProExtraBoldItalic;
  src: url(../fonts/PTSerifProExtraBoldItalic.otf);
}

@font-face {
  font-family: PTSerifProExtendedBook;
  src: url(../fonts/PTSerifProExtendedBook.otf);
}

@font-face {
  font-family: PTSerifProExtendedBookItalic;
  src: url(../fonts/PTSerifProExtendedBookItalic.otf);
}

@font-face {
  font-family: PTSerifProExtendedBold;
  src: url(../fonts/PTSerifProExtendedBold.otf);
}

@font-face {
  font-family: PTSerifProExtendedBoldItalic;
  src: url(../fonts/PTSerifProExtendedBoldItalic.otf);
}

@font-face {
  font-family: PTSerifProExtendedDemi;
  src: url(../fonts/PTSerifProExtendedDemi.otf);
}

@font-face {
  font-family: PTSerifProExtendedDemiItalic;
  src: url(../fonts/PTSerifProExtendedDemiItalic.otf);
}

@font-face {
  font-family: PTSerifProExtendedExtraBold;
  src: url(../fonts/PTSerifProExtendedExtraBold.otf);
}

@font-face {
  font-family: PTSerifProExtendedExtraBoldItalic;
  src: url(../fonts/PTSerifProExtendedExtraBoldItalic.otf);
}

@font-face {
  font-family: PTSerifProItalic;
  src: url(../fonts/PTSerifProItalic.otf);
}

@font-face {
  font-family: PTSerifProNarrow;
  src: url(../fonts/PTSerifProNarrow.otf);
}

@font-face {
  font-family: PTSerifProNarrowBlack;
  src: url(../fonts/PTSerifProNarrowBlack.otf);
}

@font-face {
  font-family: PTSerifProNarrowBlackItalic;
  src: url(../fonts/PTSerifProNarrowBlackItalic.otf);
}

@font-face {
  font-family: PTSerifProNarrowBold;
  src: url(../fonts/PTSerifProNarrowBold.otf);
}

@font-face {
  font-family: PTSerifProNarrowBoldItalic;
  src: url(../fonts/PTSerifProNarrowBoldItalic.otf);
}

@font-face {
  font-family: PTSerifProNarrowBook;
  src: url(../fonts/PTSerifProNarrowBook.otf);
}

@font-face {
  font-family: PTSerifProNarrowBookItalic;
  src: url(../fonts/PTSerifProNarrowBookItalic.otf);
}

@font-face {
  font-family: PTSerifProNarrowDemi;
  src: url(../fonts/PTSerifProNarrowDemi.otf);
}

@font-face {
  font-family: PTSerifProNarrowDemiItalic;
  src: url(../fonts/PTSerifProNarrowDemiItalic.otf);
}

@font-face {
  font-family: PTSerifProNarrowExtraBold;
  src: url(../fonts/PTSerifProNarrowExtraBold.otf);
}

@font-face {
  font-family: PTSerifProNarrowItalic;
  src: url(../fonts/PTSerifProNarrowItalic.otf);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  border: 1px solid #999;
  color: #999;
  height: 1px;
}

a {
  text-decoration: none;
  color: inherit;
}

input, button {
  outline: none;
}

/**
 * onoff.css
 * Author: http://proto.io/freebies/onoff/
 * Author: Timmy Willison
 */
.onoffswitch {
  position: relative;
  width: 338px;
  height: 90px;
  border: 3px solid #d82b41;
  border-radius: 48px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top:15px;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  width: 100%;
  height: 100%;
  display: block;
  /*background: rgba(0, 0, 0, 0.2);*/
  position:relative;
}

.onoffswitch-inner {
  width: 50%;
  height: 86px;
  display: block;
  float: left;
  line-height: 90px;
  background: #d82b41;
  text-align: center;
  border-radius: 48px;
  transition: all 0.3s ease-in 0s;
  font-family: 'BebasNeueBold';
  font-size: 30px;
  color: #fff;
  left: -2px;
  position: absolute;
  top: -1px;
}

.onoffswitch-switch {
  width: 50%;
  height: 86px;
  display: block;
  float: left;
  text-align: center;
  border-radius: 48px;
  background: rgba(255, 255, 255, 0);
  line-height: 90px;
  transition: all 0.3s ease-in 0s;
  font-family: 'BebasNeueBold';
  font-size: 30px;
  color: #fff;
  right:-2px;
  position: absolute;
  top: -1px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  background: rgba(255, 255, 255, 0);
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  background: #d82b41;
  transition: all 0.3s ease-in 0s;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

* {
  -moz-box-sizing: border-box;
  /* Для Firefox */
  box-sizing: border-box;
  /* Ширина блока с полями */
}

body {
  background: #000;
  /*position: relative;*/
  width: 100%;
  height: 100%;
}

.logo {
   width:27.73vw;

}
.logo img {
  width:100%;
}

.arrow {
  width: 17px;
  height: 29px;
  position: relative;
}

.icon {
  display: inline-block;
}

.icon-star {
  width: 57px;
  height: 56px;
  background: url(../images/icons/icon-star.png) no-repeat center;
  position: relative;
  top: 18px;
}

.icon_like {
  width: 46px;
  height: 40px;
  background: url(../images/icons/ico_heart.svg) no-repeat center center;
  /*position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;*/
  margin: auto;
}

.icon_like-bill {
  width: 78px;
  height: 67px;
  background: url(../images/icons/ico_heart.svg) no-repeat center center;
  /*position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;*/
  margin: auto;
}

.icon_bell {
  width: 38px;
  height: 45px;
  background: url(../images/icons/ico_bell.svg) no-repeat center center;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}

.icon_arrow-left {
  width: 17px;
  height: 29px;
  background: url(../images/icons/icon-arrow-left.png) no-repeat center center;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}

.icon_time {
  width: 38px;
  height: 45px;
  background: url(../images/icons/ico_bell.svg) no-repeat center center;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}

.icon_time-disibe {
  width: 56px;
  height: 56px;
  background: url(../images/icons/icon-star-disible.png) no-repeat center center;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  opacity: 0.3;
}

.icon_time-pictur {
  width: 14px;
  height: 14px;
  background: url(../images/icons/icon-time.png) no-repeat center center;
  position: relative;
  margin-right: 12px;
}

.icon_star-grey {
  width: 42px;
  height: 46px;
  background: url(../images/icons/icon-star-greyy.png) no-repeat center center;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}

.icon-closed {
  width: 32px;
  height: 33px;
  background: url(../images/icons/icon-closed.png) no-repeat center center;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}

.icon_search_btn {
  width: 60px;
  height: 60px;
  background: url(../images/icons/icon-search-btn.png) no-repeat center center;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}

.icon_like_info {
  width: 46px;
  height: 40px;
  background: url(../images/icons/ico_heart.svg) no-repeat center center;
  /*position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;*/
  margin: auto;
}

.icon_dz {
  width: 38px;
  height: 44px;
  background: url(../images/icons/ico_bell.svg) no-repeat center center;
  /*position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;*/
  margin: auto;
}

.icon__sing-dz {
  width: 59px;
  height: 63px;
  background: url(../images/icons/ico_bell-turned.svg) no-repeat center center;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}

.icon-popup-closed {
  width: 32px;
  height: 33px;
  background: url(../images/icons/icon-closed.png) no-repeat center center;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}

.btn {
  cursor: pointer;
}

.btn__like_bt {
  position: relative;
  width: 96px;
  height: 97px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  border: none;
  transition: background 0.25s ease-out 0.125s;
  cursor: pointer;
}

.btn__like_bt.active {
  background: #465bfb;
}

.btn__bell_bt {
  position: relative;
  width: 96px;
  height: 97px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
}

.btn__left {
  float: left;
}

.btn__right {
  float: right;
}

.btn__center .onoffswitch {
  margin: 0 auto;
  margin-top:90px;
}

.while {
  color: #fff;
}

.grey {
  color: #cdcdcd;
}

.red {
  color: #d82b41;
}

.closed {
  width: 32px;
  height: 33px;
  position: relative;
}

.closed a {
  position: relative;
  display: block;
  width: 32px;
  height: 33px;
}

.datte__item {
  display: block;
  text-align: center;
  font-family: 'BebasNeueBold';
  font-size: 30px;
}

.title_en {
  font-family: 'BebasNeueBold';
  font-size: 30px;
  color: #989797;
  text-align: center;
  max-width: 320px;
  padding-top: 55px;
  margin: 0 auto;
}

.tittle_ru {
  font-family: 'BebasNeueBold';
  font-size: 68px;
  color: #fff;
  text-align: center;
  max-width: 320px;
  padding-top: 20px;
  margin: 0 auto;
}

.sezon {
  color: #d82b41;
  font-size: 26px;
  text-align: center;
  font-family: 'BebasNeueBold';
  padding-top: 15px;
}

.btn-bel_bt {
  border: none;
  width: 41px;
  background: none;
  cursor: pointer;
}

.btn-bel_bt .cls-1 {
  fill: #fff;
  width: 100%;
  transition: fill 0.25s ease-out 0.125s;
}

.btn-bel_bt.active .cls-1 {
  fill: #d9243a;
}

.block_button_section {
  min-width: 270px;
  max-width: 680px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  min-width: 270px;
  max-width: 100%;
  height: 81px;
  background: #1b1b1c;
  padding: 24px 35px 0;
  position: relative;
}

.header__logo {
  margin: 0 auto;
}

.header__btn-bel {
  /*float: right;*/
  position: absolute;
  top: 10px;
  right: 10px;
}

.header__arrow {
  float: left;
}

.header__closed {
  float: right;
}

.cover {
  position: relative;
  overflow: hidden;
  width: 100vw;
}

.cover:after {
  position: absolute;
  bottom: 0px;
  content: '';
  width: 100%;
  min-height: 141px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+1,0.3+36,0.3+36,0.3+37,1+100,1+100 */
  background: -moz-linear-gradient(top, transparent 0%, transparent 1%, rgba(0, 0, 0, 0.3) 36%, rgba(0, 0, 0, 0.3) 37%, black 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, transparent 0%, transparent 1%, rgba(0, 0, 0, 0.3) 36%, rgba(0, 0, 0, 0.3) 37%, black 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, transparent 0%, transparent 1%, rgba(0, 0, 0, 0.3) 36%, rgba(0, 0, 0, 0.3) 37%, black 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
}

.cover:before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(27, 23, 69, 0.7);
}

.cover-item {
  float: left;
  width: 25%;
  overflow: hidden;
}

.cover-item img {
  display: block;
  width: 25vw;
  object-fit: cover;
}

.cover-bor {
  background: #000;
}

.cover .search {
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  z-index: 2;
}


.slider-nav {
  width:100vw !important;
}
.slider-for {
  width:100vw !important;
}
.slider-for .draggable {
  padding:0px;
}
.slider-nav .tabs__nav_item {
  width:100%;
}
.slider-nav .draggable {
  padding:0px !important;
}
.slider-nav .block {
  height: 90px;
  background: #151518;
}
.slider-nav .slick-current {
  outline:none;
}



.center .slick-dots {
  display:none !important;
}


.tabs {
  min-width: 270px;
  max-width: 100%;
}

.tabs__nav {
  height: 90px;
  background: #151518;
}

.tabs__nav_item {
  float: left;
  width: 33.33333%;
  text-align: center;
  font-family: 'BebasNeueBold';
  font-size: 30px;
  color: #cdcdcd;
  cursor: pointer;
  line-height: 90px;
  height: 90px;
  transition: border-bottom 0.25s ease-out 0.125s;
}

.tabs__nav_item.active {
  color: #fff;
  border-bottom: 3px solid #fff;
}

.tabs__content_item_block {
  height: 150vw;
  width: 100%;
  border-bottom: 4px solid #151518;
}

.tabs__content_item_bg {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height:150vw;
}

.tabs__content_item .block_button_section {
  padding: 50px 0;
}

.tabs__content .datte__item {
  padding-bottom: 10px;
}

.time {
  width: 280px;
  margin: 0 auto;
  padding-top: 24px;
}

.time__top {
  padding-bottom: 10px;
}

.time__top_center {
  width: 82px;
  margin: 0 auto;
  font-size: 30px;
  font-family: 'BebasNeueBold';
  text-align: center;
}

.time__top_left {
  width: 82px;
  font-size: 30px;
  font-family: 'BebasNeueBold';
  float: left;
  text-align: center;
}

.time__top_right {
  width: 82px;
  font-size: 30px;
  font-family: 'BebasNeueBold';
  float: right;
  text-align: center;
}

.time__bottom_center {
  width: 82px;
  margin: 0 auto;
  font-size: 95px;
  font-family: 'BebasNeueBold';
  text-align: center;
}

.time__bottom_left {
  width: 82px;
  font-size: 95px;
  font-family: 'BebasNeueBold';
  float: left;
  text-align: center;
}

.time__bottom_right {
  width: 82px;
  font-size: 95px;
  font-family: 'BebasNeueBold';
  float: right;
  text-align: center;
}

.info {
  min-width: 270px;
  max-width: 100%;
  height: 127px;
  padding: 48px 35px 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#191a2b+0,211113+100 */
  background: #191a2b;
  /* Old browsers */
  background: -moz-linear-gradient(left, #191a2b 0%, #211113 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #191a2b 0%, #211113 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #191a2b 0%, #211113 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191a2b', endColorstr='#211113',GradientType=1 );
  /* IE6-9 */
}

.info__im {
  font-size: 30px;
  font-family: 'BebasNeueBold';
  height: 65px;
  position: relative;
  float: left;
}

.info__im:after {
  width: 35%;
  bottom: 0px;
  height: 4px;
  background: #d82b41;
  content: '';
  position: absolute;
}

.info__number {
  float: right;
  font-size: 30px;
  font-family: 'BebasNeueBold';
  text-align: right;
}

.appisode {
  min-width: 270px;
  max-width: 100%;
  height: 186px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#191a2b+0,211113+100 */
  background: #191a2b;
  /* Old browsers */
  background: -moz-linear-gradient(left, #191a2b 0%, #211113 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #191a2b 0%, #211113 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #191a2b 0%, #211113 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191a2b', endColorstr='#211113',GradientType=1 );
  /* IE6-9 */
}

.appisode_im {
  min-width: 270px;
  max-width: 100%;
  height: 186px;
  background: black;
  padding: 40px 25px 0 35px;
}

.appisode_im_star {
  width: 106px;
  height: 106px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0);
  position: relative;
  overflow: hidden;
  float: left;
}

.appisode_im_star.normal {
  border-right: 2px solid #d82b41;
  border-top: 2px solid #000;
  border-bottom: 2px solid #d82b41;
  border-left: 2px solid #000;
}

.appisode_im_star.mini {
  border-right: 2px solid #d82b41;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
}

.appisode_im_star.disibe {
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  border-top: 2px solid rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  border-left: 2px solid rgba(0, 0, 0, 0.5);
  position: relative;
}

.appisode_im_title {
  float: left;
  margin-left: 33px;
}

.appisode_im_title h3 {
  font-size: 33px;
  font-family: 'BebasNeueBold';
}

.appisode_im_title h4 {
  font-size: 30px;
  font-family: 'BebasNeueBold';
}

.appisode_im_title .time {
  font-size: 24px;
  font-family: 'BebasNeueBold';
  padding-top: 12px;
  display: block;
}

.appisode_im_touch {
  float: right;
  height: 73px;
  width: 10px;
  position: relative;
}

.appisode_im_touch p {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  margin: 7px 0;
  /*display: inline-block;*/
}

.expanded {
  min-width: 270px;
  max-width: 100%;


}

.expanded__like {
  padding: 55px 0 60px;
}

.expanded__like_sezon {
  float: right;
  margin-right: 55px;
  width: 125px;
}

.expanded__like_sezon .star_grey {
  width: 83px;
  height: 83px;
  border-radius: 50%;
  border: 1px solid #989898;
  position: relative;
  margin: 0 auto;
}

.expanded__like_sezon .text {
  font-size: 30px;
  font-family: 'BebasNeueBold';
  padding-top: 25px;
  text-align: center;
}

.expanded__like_like {
  width: 186px;
  height: 186px;
  margin: 0 auto;
  position: relative;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  transition: background 0.25s ease-out 0.125s;
  cursor: pointer;
}

.expanded__like_like.active {
  background: #465bfb;
}

.expanded__slider_title {
  font-size: 30px;
  font-family: 'BebasNeueBold';
  width: 44px;
  margin-left: 35px;
  padding-bottom: 20px;
  border-bottom: 4px solid #d82b41;
}

.expanded__slider_block {
  padding: 25px 35px 60px;
}

.expanded__slider_block .touch {
  width: 10px;
  height: 60px;
  padding-top: 24px;
}

.expanded__slider_block .touch span {
  width: 10px;
  height: 10px;
  background: #484849;
  margin: 5px 0;
  border-radius: 50%;
  display: inline-block;
}

.expanded__slider_block .left {
  float: left;
}

.expanded__slider_block .right {
  float: right;
}

.slick-slider {
  width: 625px;
  margin: 0 auto;
}

.slick-slider .block {
  color: #fff;
  width: 120px;
  height: 120px;
  font-size: 30px;
  font-family: 'BebasNeueBold';
  line-height: 120px;
  text-align: center;
}

.slick-slider .block-im {
  width: 120px;
  height: 120px;
  background: #d82b41;
  border-radius: 50%;
  font-size: 50px;
  margin: 0 auto;
}

.search {
  width:100%;
  height:100%;
}
.search svg {
  width:14.93vw;
  height:14.93vw;
  position:absolute;
  top:0px;
  right:0px;
  left:0px;
  bottom:0px;
  margin:auto;
}
.search #ico_magnifier {
  width:100%;
  height:100%;

}

.search__button {
  background: #d82b41;
  width: 100%;
  height: 98px;
  position: relative;
  transition: display 1.25s ease-out 0.125s;
}

.search__button.active {
  display: none;
}

.search__text {
  border-bottom: 3px solid #d82b41;
  width: 100%;
  height: 86px;
}

.search__text input {
  width: 100%;
  height: 70px;
  color: #fff;
  font-size: 50px;
  font-family: 'BebasNeueBold';
  background: none;
  border: none;
}

.search__button.active + .search__text {
  display: block;
}

.search-rezylt {
  padding: 0px 35px 0px;
}

.search-rezylt__bor {
  /*border-bottom: 1px solid #373439;*/
  padding: 0px 0 20px;
}

.search-rezylt h2 {
  font-size: 30px;
  font-family: 'BebasNeueBold';
  padding-top: 35px;
}

.search-rezylt__block {
  padding-top: 25px;
}

.search-rezylt__block_img {
  width: 300px;
  /*height: 272px;*/
  text-align: center;
  float: left;
  margin-right: 30px;
}

.search-rezylt__block_text {
  overflow: hidden;
}

.search-rezylt_title_ru {
  color: #fff;
  font-size: 33px;
  font-family: 'BebasNeueBold';
}

.search-rezylt_title_en {
  color: #cdcdcd;
  font-size: 30px;
  font-family: 'BebasNeueBold';
}

.search-rezylt__info {
  padding-top: 50px;
}

.search-rezylt__like {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: relative;
  display: inline-block;
  background-color: transparent;
}

.search-rezylt__like.active {
  border: 1px solid #465bfb;
  background: #465bfb;
}

.search-rezylt__dz {
  position: relative;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: inline-block;
  margin: 0 15px;
  background-color: transparent;
}

.search-rezylt__text {
  color: #fff;
  font-size: 30px;
  font-family: 'BebasNeueBold';
  width: 100px;
  display: inline-block;
  position: relative;
  top: -22px;
}

.wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.sing-1 {
  width: 100vw;
  height: 100vh;
  background: url(../images/bg_sing1.jpg) no-repeat center top;
  background-size: cover;
  /*position: relative;*/
}

.sing-1__dz {
  position: absolute;
  top: 25px;
  width: 59px;
  height: 63px;
  left: 50%;
  margin-left: -30px;
}

.sing-1__logo {
  width: 494px;
  height: 71px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}

.sing-1__text {
  position: absolute;
  color: #fff;
  font-size: 22px;
  font-family: 'BebasNeueBold';
  text-align: center;
  bottom: 35vh;
  left: 50%;
  margin-left: -138px;
}

.sing-1__button {
  position: absolute;
  bottom: 17vh;
  left: 50%;
  width: 229px;
  height: 95px;
  border-radius: 100px;
  background: #d82b41;
  margin-left: -115px;
  line-height: 95px;
  text-align: center;
}

.sing-1__button a {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  font-family: 'BebasNeueBold';
  display: block;
}

.sing-1__nav-cricle {
  /*width: 88px;*/
    width: 100%;
  height: 16px;
  position: absolute;
  bottom: 5vh;
  /*left: 50%;
  margin-left: -44px;*/
  text-align: center;
}

.sing-1__nav-cricle span {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  margin: 0 10px;
  display: inline-block;
}

.sing-1__nav-cricle .active {
  background: #1729fa;
}

.sing-2 {
  width: 100vw;
  height: 100vh;
  background: url(../images/bg_sing2.jpg) no-repeat center top;
  background-size: cover;
  /*position: relative;*/
}

.sing-2__logo {
  position:relative;
  top:25px;
  margin:0 auto;
}

.sing-2__number {
  width: 474px;
  height: 98px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #d82b41;
  margin: auto;
  line-height: 98px;
  text-align: center;
  font-family: 'BebasNeueBold';
  font-size: 35px;
  position: absolute;
  color: #fff;
}

.sing-2__input {
  border-bottom: 3px solid #d82b41;
  /*width: 100%;
  height: 86px;*/
  display: none;
  width: 474px;
  height: 98px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  /*background: #d82b41;*/
  margin: auto;
  line-height: 98px;
  text-align: center;
  font-family: 'BebasNeueBold';
  font-size: 35px;
  position: absolute;
  color: #fff;
}

.sing-2__input input {
  width: 100%;
  height: 70px;
  color: #fff;
  font-size: 24px;
  font-family: 'BebasNeueBold';
  background: none;
  border: none;
  text-align: center;
}

.sing-2__number.active {
  display: none;
}

.sing-2__number.active + .sing-2__input {
  display: block;
}

.sing-2__text {
  position: absolute;
  color: #fff;
  font-size: 18px;
  font-family: 'BebasNeueBold';
  text-align: center;
  bottom: 35vh;
  width:100%;

}

.sing-2__button {
  position: absolute;
  bottom: 17vh;
  left: 50%;
  width: 229px;
  height: 95px;
  border-radius: 100px;
  background: #d82b41;
  margin-left: -115px;
  line-height: 95px;
  text-align: center;
}

.sing-2__button a {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  font-family: 'BebasNeueBold';
  display: block;
}

.sing-2__nav-cricle {
  width: 100%;
  height: 16px;
  position: absolute;
  bottom: 5vh;
  text-align: center;
}

.sing-2__nav-cricle span {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  margin: 0 10px;
  display: inline-block;
}

.sing-2__nav-cricle .active {
  background: #1729fa;
}

.popup1 {
  position: fixed;
  width: 100vw;
  min-height: 1%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: none;
}

.popup1 .closed {
  width: 32px;
  height: 33px;
  margin: 0 auto;
  margin-top: 70px;
}

.popup1 h3 {
  color: #fff;
  font-size: 68px;
  text-align: center;
  font-family: 'BebasNeueBold';
  padding-top: 70px;
}

.popup1 p {
  color: #fff;
  font-size: 24px;
  text-align: center;
  font-family: 'BebasNeueBold';
  padding-top: 45px;
  width: 304px;
  margin: 0 auto;
}

.popup1 input {
  /*width: 350px;*/
  height: 97px;
  border: none;
  line-height: 97px;
  text-align: center;
  border-bottom: 3px solid #d82b41;
  color: #fff;
  font-family: 'BebasNeueBold';
  font-size: 24px;
  background: none;
  display: block;
  margin: 0 auto;
}

.popup1 .btn_popup {
  width: 227px;
  height: 96px;
  border-radius: 80px;
  background: #d82b41;
  text-align: center;
  line-height: 96px;
  color: #fff;
  font-family: 'BebasNeueBold';
  font-size: 30px;
  display: block;
  margin: 0 auto;
  margin-top: 75px;
  text-decoration: none;
}

.open {
  display: block;
}

.openone {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.popup {
  display: block;
}

/*.view-container {
}

.view {
}

    .view.ng-enter, .view.ng-leave {
        position: absolute;
        width: 100%;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .view.ng-enter {
        transform: translate3d(100%, 0, 0);
        -webkit-transform: translate3d(100%, 0, 0);
    }

    .view.ng-enter-active {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }

    .view.ng-leave {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }

    .view.ng-leave-active {
        transform: translate3d(-100%, 0, 0);
        -webkit-transform: translate3d(-100%, 0, 0);
    }*/

.fade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.fade.ng-enter {
  opacity: 0;
}
.fade.ng-enter-active {
  opacity: 1;
}
.fade.ng-leave {
  opacity: 1;
}
.fade.ng-leave-active {
  opacity: 0;
}

.slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.slide.ng-enter,
.slide.ng-leave {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.slide.ng-enter {
  left: 100%;
}
.slide.ng-enter-active {
  left: 0;
}
.slide.ng-leave {
  left: 0;
}
.slide.ng-leave-active {
  left: -100%;
}

.slick-next {
  display: none !important;
}

.slick-prev {
  display: none !important;
}

button.show_like {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  border: none;
  width: 100%;
}

@media screen and (max-width: 760px) {

}

@media screen and (max-width: 690px) {
  .slick-slider {
    width: 430px;
  }
}

@media screen and (max-width: 580px) {
  .onoffswitch {
    width: 300px;
  }
  .tabs__nav_item {
    font-size: 21px;
  }
  .tabs__nav_item .icon {
    display: none;
  }
  .appisode_im {
    padding: 40px 10px 0 10px;
  }
  .expanded__like_like {
    margin-left: 35px;
  }
  .sing-1__logo {
    width: 300px;
  }
  .sing-1__logo a {
    display: block;
  }
  .sing-1__logo img {
    width: 100%;
  }
  .sing-2__number {
    width: 300px;
    height: 60px;
    line-height: 60px;
  }
  .sing-2__input {
    width: 300px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 500px) {
  .appisode_im_title {
    margin-left: 15px;
    width: 150px;
  }
  .appisode_im_title h3 {
    font-size: 22px;
  }
  .appisode_im_title h4 {
    font-size: 20px;
  }
  .appisode_im_title .time {
    font-size: 18px;
  }
  .appisode_im_star {
    width: 65px;
    height: 65px;
    position: relative;
    top: 7px;
  }
}

@media screen and (max-width: 470px) {
  .slick-slider {
    width: 270px;
  }
}

@media screen and (max-width: 450px) {
  .header {
    padding: 24px 0;
  }
  .info__number {
    font-size: 22px;
  }
  .info__im {
    font-size: 22px;
  }
  .expanded__like_like {
    width: 100px;
    height: 100px;
    margin-left: 35px;
  }
  .search-rezylt {
    padding-left: 10px;
    padding-right: 10px;
  }
  .search-rezylt__text {
    top: 0px;
    display: block;
    margin: 0 auto;
    padding-top: 35px;
  }
  .tittle_ru {
    font-size:40px;
  }
  .btn__like_bt {
    width:75px;
    height:75px;
  }
  .btn__bell_bt {
    width:75px;
    height:75px;
  }
  .popup1 h3 {
    font-size:50px;
  }
  .popup1 .btn_popup {
    height:68px;
    line-height:70px;
  }
  .search__button {
    height:70px;
  }
  .search__text input {
    font-size:35px;
    text-align:center;
  }
  .sing-1__button {
    line-height:75px;
    height:68px;
  }
  .sing-2__button {
    line-height:75px;
    height:68px;
  }
  .time__bottom_left {

  }
  .btn__left {
    padding-left:15px;
  }
  .btn__right {
    padding-right:15px;
  }
}

.search__text {
    margin-top:75px;
}


.call_like {
  width:40vw;
  height:40vw;
  margin:0 auto;
  margin-top:8vw;
  margin-bottom:8vw;
}
.btn__call {
  width:40vw;
  height:40vw;
  display:block;
  border-radius:50%;
  background:#0033ff;
  position:relative;
  border:none;
}
.active__call {
  background:#d82b41;
    border: none;
}
.icon_call {
  width:17.86vw;
  height:19.6vw;
  background: url(../images/icons/icon_call_img.png) no-repeat center center;
  background-size:cover;
  /*position:absolute;
  top:0px;
  right:0px;
  left:0px;
  bottom:0px;*/
  margin:auto;
}
.sing-2__logo {
  width:128px;
  height:18px;
}
.sing-2__logo img {
  width:100%;
}
.sing__info {
  width:78vw;
  margin:0 auto;
  position:relative;
  top:12vh;
}
.sing__info img {
  width:100%;
}




.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}
.modalDialog .im-info-modal {
  width:86vw;
  height:86vw;
  background:#d82b41;
  position: relative;

  border-radius:15px;

}
.modalDialog .im-info-modal-block {
  width:86vw;
  position:relative;
  margin:0 auto;
  top:10vh;
}
.modalDialog .im-info-modal:after {
  position:absolute;
  content:'';
  bottom:-49px;
  left:50%;
  margin-left:-50px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid #d82b41;
}

.modalDialog .button-info {
  top:140px;
  position:relative;
  display: block;
  text-align:center;
}
.modalDialog .button-info-licke {
  width:17.666vw;
  height:17.666vw;
  display:inline-block;
  border-radius: 50%;
  margin:0 15px;
  background:#d82b41;
  position:relative;
    border: none;
}
.modalDialog.opened {
    opacity: 1;
    pointer-events: auto;
}

.icon-info-licke {
  width:5.38vw;
  height:3.69vw;
  background:url("../images/icons/icon-info-like.png") no-repeat center center;
  background-size:cover;
  /*position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;*/
  margin:auto;
}

.modalDialog .button-info-closed {
  width:17.666vw;
  height:17.666vw;
  display:inline-block;
  border-radius: 50%;
  margin:0 15px;
  background:#0033ff;
  position:relative;
    border: none;
}

.icon-info-closed {
  width:4.92vw;
  height:4.92vw;
  background:url("../images/icons/icon-info-closed.png") no-repeat center center;
  background-size:cover;
  /*position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;*/
  margin:auto;
}

.icon-info-modal {
  margin:0 auto;
  position:relative;
  top:5%;
  width:19.38vw;
  height:19.38vw;
}
.icon-info-modal img {
  width:100%;
}





.switch {
  position:relative;
  width:100%;
  margin:0 auto;
  top:10%;
}
.switch .onoffswitch {
  width:65.38vw;
  height:18.76vw;
  margin:0 auto;
  background: #ad2234;
  color:#d82b41;
  transition: all 0s ease-in 0s;
}
.switch .onoffswitch-inner {
  background:#fff;
  color:#d82b41;
  width:50%;
  height:100%;
  line-height: 70px;
}
.switch .onoffswitch-checkbox:checked +  .onoffswitch-label .onoffswitch-switch  {
  background:#fff;
  color:#d82b41;
  width:50%;
  height:100%;
  transition: all 0s ease-in 0s;
}
.switch .onoffswitch-checkbox:checked +  .onoffswitch-label .onoffswitch-switch  {
  background:#fff;
  color:#d82b41;
  width:50%;
  height:100%;
  transition: all 0s ease-in 0s;
}
.switch .onoffswitch-switch {
  color:#d82b41;
  height:100%;
  line-height: 70px;
}
.switch .onoffswitch-checkbox {
  display:block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
  opacity: 0;
}
.im-info-modal .expanded__slider {
  position:relative;
  top:15%;
}
.im-info-modal .slick-list {
  padding:0 !important;
}
.im-info-modal .slick-slider .block {
  color:#fff;
}
.im-info-modal .slick-slider .slick-center .block-im {
  color:#d82b41;
  background:#fff;
}
.im-info-modal .expanded__slider_block .touch span {
  width:5px;
  height:5px;
  background:#ad2234;
}
.info-text-block {
  position:relative;
  top:15%;
}
.info-text-block .time {
  padding-top:10px;
}
.blue {
  color:#0033ff;
}


/* Add to docs */
#scrolling{/*frame*/
  position: absolute;
  height:20vw;
  width: 86%;
  overflow: hidden;
  top: 16px;
  left: 19px;
}

#scrolling ul {
  /*Add if you want to disable the option of selecting the text while sliding*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  margin: 0;
  padding: 0;
  position: absolute;
  /*top:10%;*/

  list-style-type: none;

  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#scrolling li {
  float: left;
  width:20vw;
  height:20vw;
  text-align:center;
  font-size:16px;
  color:#fff;
  vertical-align:middle;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  cursor: pointer;
  background: #d82b41;
  -webkit-transform:  scale(0.95);
  -ms-transform:  scale(0.95);
  -moz-transform:  scale(0.95);
  transform: scale(0.95);
  padding-top:7vw;
}

#scrolling .itemslide-active
{/*applied to current active item*/
  color:#d82b41;
  font-size:22px;
  background:#fff;
  -webkit-transform:  scale(1);
  -ms-transform:  scale(1);
  -moz-transform:  scale(1);
  transform: scale(1);
  width:20vw;
  height:20vw;
}









@media screen and (min-width:319px) and (max-width: 359px) {
  .logo {
    width:27.73vw;
  }
  .header {
    height:33px;
    padding:9px 0;
  }
  .btn-bel_bt {
    width:26px;
  }
  .cover .search-header {
    width:50px;
    height:49px;
  }
  .search-header svg {
    width:100%;
  }
  .search-header #ico_magnifier {
    width:100%;
    height:100%;
  }
  .tabs__nav {
    height:37px;
  }
  .tabs__nav_item {
    height:38px;
    line-height:38px;
    font-size:18px;
  }
  .icon-star {
    width:20px;
    height:23px;
    top:4px;
  }
  .tabs__nav_item .icon {
    display:inline-block;
    background-size:cover;
  }
  .tabs__content_item_block {
    background-size:cover !important;
  }
  .title_en {
    font-size:18px;
    padding-top:22px;
  }
  .tittle_ru {
    font-size:32px;
    padding-top:14px;
  }
  .btn__like_bt {
    width:42px;
    height:43px;
  }
  .icon_like {
    width:21px;
    height:18px;
    background-size:cover;
  }
  .btn__bell_bt {
    width:42px;
    height:43px;
  }
  .icon_bell {
    width:18px;
    height:20px;
    background-size:cover;
  }
  .btn__center .onoffswitch {
    margin-top:0px;
  }
  .onoffswitch {
    width:146px;
    height:43px;
  }
  .onoffswitch-inner {
    height:41px;
    font-size:18px;
    line-height:41px;
  }
  .onoffswitch-switch {
    height:41px;
    font-size:18px;
    line-height:41px;
  }
  .datte__item {
    font-size:18px;
  }
  .datte__item {
    font-size:18px;
  }
  .time__top_right {
    font-size:18px;
  }
  .time__top_center {
    font-size:18px;
  }
  .time__top_left {
    font-size:18px;
  }
  .time__bottom_left {
    font-size:40px;
  }
  .time__bottom_right {
    font-size:40px;
  }
  .time__bottom_center {
    font-size:40px;
  }
  .time {
    width:200px;
  }







  .closed {
    margin-right:22px;
    width:18px;
    height:18px;
  }
  .closed a {
    width:18px;
    height:18px;
  }
  .icon-closed {
    width:18px;
    height:18px;
    background-size:cover;
  }
  .search__text {
    height:60px;
  }
  .search__text input {
    height:58px;
  }
  .search-rezylt h2 {
    font-size:22px;
  }
  .search-rezylt__block_img {
    width:140px;
    margin-right:10px;
  }
  .search-rezylt__block_img img {
    width:100%;
  }
  .search-rezylt_title_ru {
    font-size:26px;
  }
  .search-rezylt_title_en {
    font-size:22px;
  }
  .search-rezylt__like {
    width:42px;
    height:42px;
  }
  .icon_like_info {
    width:21px;
    height:18px;
    background-size:cover;
  }
  .search-rezylt__dz {
    width:42px;
    height:42px;
    margin:0 5px;
  }
  .icon_dz {
    width:18px;
    height:20px;
    background-size:cover;
  }
  .search-rezylt__info {
    padding-top:10px;
  }
  .search-rezylt__text {
    display:inline-block;
    width:48px;
    padding-top:15px;
  }
  .search-rezylt__text p {
    font-size:12px;
  }

  .expanded {
    background-size:100%;
    background-repeat:no-repeat;
  }


  .sezon {
    font-size:18px;
  }
  .expanded__like_like {
    width:80px;
    height:80px;
    margin:0 auto;
  }
  .icon_like-bill {
    width:35px;
    height:30px;
    background-size:cover;
  }
  .expanded__like_sezon {
    margin-right: 20px;
    width: 70px;
  }
  .expanded__like_sezon .star_grey {
    width:35px;
    height:35px;
  }
  .icon_star-grey {
    width:18px;
    height:21px;
    background-size:cover;
  }
  .expanded__like_sezon .text {
    font-size:18px;
    padding-top:10px;
  }
  .expanded__slider_title {
    font-size: 18px;
    width: 30px;
    margin-left: 15px;
    padding-bottom: 8px;
  }

  .slick-slider {
    width:290px;
  }
  .expanded__slider_block {
    padding-left:15px;
    padding-right:15px;
  }
  .expanded__slider_block .touch {
    height:30px;
    padding-top:0px;
  }
  .expanded__slider_block .touch span {
    margin:1px 0;
    width:5px;
    height:5px;
  }
  .slick-slider .block.slick-center {
    width:46px;
    height:46px;
    line-height:46px;
    font-size:22px;
    color:#fff;
  }
  .slick-slider .slick-center .block-im {
    width:46px;
    height:46px;
    background:#d82b41;
  }
  .slick-slider .block {
    font-size:16px;
    color:#484849;
    width:46px;
    height:46px;
    line-height:46px;
  }
  .slick-slider .block-im {
    background:rgba(255,255,255,0);
    width:46px;
    height:46px;
    font-size:16px;
  }





  .arrow {
    width:7px;
    height:12px;
    margin-left:10px;
  }
  .icon_arrow-left {
    width:7px;
    height:12px;
    background-size:cover;
  }
  .info {
    height:60px;
    padding:20px 10px;
  }

  .info__im {
    font-size: 18px;
    height: 30px;
    width: 90px;
  }
  .info__im:after {
    left:0px;
  }
  .info__number {
    font-size:18px;
  }

  .appisode_im_star {
    width:42px;
    height:41px;
  }
  .appisode_im_title h3 {
    font-size:20px;
  }
  .appisode_im_title h4 {
    font-size:18px;
  }
  .appisode_im_title .time {
    padding-top:5px;
  }
  .icon_time {
    width:17px;
    height:19px;
    background-size:cover;
  }
  .appisode_im_touch p {
    width:5px;
    height:5px;
  }
  .appisode_im {
    height:80px;
    padding:10px 10px 10px;
  }
  .item-thumbnail-left, .item-thumbnail-left .item-content {
    min-height:80px;
    height:80px;
  }



  .sing-2__logo {
    width:90px;
    height:13px;
  }

}


@media screen and (min-width:360px) and (max-width: 479px) {
  .logo {
     width:27.73vw;
  }
  .header {
    height:38px;
    padding:12px 0;
  }
  .btn-bel_bt {
    width:30px;
  }
  .cover .search-header {
    width:54px;
    height:55px;
  }
  .search-header svg {
    width:100%;
  }
  .search-header #ico_magnifier {
    width:100%;
    height:100%;
  }
  .tabs__nav {
    height:42px;
  }
  .tabs__nav_item {
    height:44px;
    line-height:44px;
    font-size:20px;
  }
  .icon-star {
    width:22px;
    height:25px;
    top:6px;
  }
  .tabs__nav_item .icon {
    display:inline-block;
    background-size:cover;
  }
  .tabs__content_item_block {
    background-size:cover !important;
  }
  .title_en {
    font-size:20px;
    padding-top:26px;
  }
  .tittle_ru {
    font-size:36px;
    padding-top:18px;
  }
  .btn__like_bt {
    width:47px;
    height:47px;
  }
  .icon_like {
    width:23px;
    height:20px;
    background-size:cover;
  }
  .btn__bell_bt {
    width:47px;
    height:47px;
  }
  .icon_bell {
    width:19px;
    height:22px;
    background-size:cover;
  }
  .btn__center .onoffswitch {
    margin-top:0px;
  }
  .onoffswitch {
    width:163px;
    height:46px;
  }
  .onoffswitch-inner {
    height:43px;
    font-size:20px;
    line-height:47px;
  }
  .onoffswitch-switch {
    height:43px;
    font-size:20px;
    line-height:47px;
  }
  .datte__item {
    font-size:20px;
  }
  .datte__item {
    font-size:20px;
  }
  .time__top_right {
    font-size:20px;
  }
  .time__top_center {
    font-size:20px;
  }
  .time__top_left {
    font-size:20px;
  }
  .time__bottom_left {
    font-size:46px;
  }
  .time__bottom_right {
    font-size:46px;
  }
  .time__bottom_center {
    font-size:46px;
  }
  .time {
    width:240px;
  }


  .closed {
    margin-right:22px;
    width:20px;
    height:20px;
  }
  .closed a {
    width:20px;
    height:20px;
  }
  .icon-closed {
    width:20px;
    height:20px;
    background-size:cover;
  }
  .search__text {
    height:66px;
  }
  .search__text input {
    height:63px;
  }
  .search-rezylt h2 {
    font-size:24px;
  }
  .search-rezylt__block_img {
    width:160px;
    margin-right:12px;
  }
  .search-rezylt__block_img img {
    width:100%;
  }
  .search-rezylt_title_ru {
    font-size:28px;
  }
  .search-rezylt_title_en {
    font-size:24px;
  }
  .search-rezylt__like {
    width:47px;
    height:47px;
  }
  .icon_like_info {
    width:23px;
    height:20px;
    background-size:cover;
  }
  .search-rezylt__dz {
    width:47px;
    height:47px;
    margin:0 7px;

  }
  .icon_dz {
    width:19px;
    height:22px;
    background-size:cover;
  }
  .search-rezylt__info {
    padding-top:13px;
  }
  .search-rezylt__text {
    display:inline-block;
    width:52px;
    padding-top:17px;
  }
  .search-rezylt__text p {
    font-size:13px;
  }


  .expanded {
    background-size:100%;
    background-repeat:no-repeat;
  }

  .sezon {
    font-size:22px;
  }
  .expanded__like_like {
    width:90px;
    height:90px;
    margin:0 auto;
  }
  .icon_like-bill {
    width:38px;
    height:33px;
    background-size:cover;
  }
  .expanded__like_sezon {
    margin-right: 20px;
    width: 70px;
  }
  .expanded__like_sezon .star_grey {
    width:38px;
    height:38px;
  }
  .icon_star-grey {
    width:19px;
    height:23px;
    background-size:cover;
  }
  .expanded__like_sezon .text {
    font-size:20px;
    padding-top:12px;
  }
  .expanded__slider_title {
    font-size: 20px;
    width: 30px;
    margin-left: 15px;
    padding-bottom: 9px;
  }

  .slick-slider {
    width:330px;
  }
  .expanded__slider_block {
    padding-left:15px;
    padding-right:15px;
  }
  .expanded__slider_block .touch {
    height:33px;
    padding-top:0px;
  }
  .expanded__slider_block .touch span {
    margin:1px 0;
    width:6px;
    height:6px;
  }
  .slick-slider .block.slick-center {
    width:48px;
    height:48px;
    line-height:48px;
    font-size:24px;
    color:#fff;
  }
  .slick-slider .slick-center .block-im {
    width:48px;
    height:48px;
    background:#d82b41;
  }
  .slick-slider .block {
    font-size:18px;
    color:#484849;
    width:48px;
    height:48px;
    line-height:48px;
  }
  .slick-slider .block-im {
    background:rgba(255,255,255,0);
    width:48px;
    height:48px;
    font-size:18px;
  }


  .arrow {
    width:8px;
    height:14px;
    margin-left:10px;
  }
  .icon_arrow-left {
    width:8px;
    height:14px;
    background-size:cover;
  }
  .info {
    height:68px;
    padding:20px 10px;
  }

  .info__im {
    font-size: 19px;
    height: 32px;
    width: 90px;
  }
  .info__im:after {
    left:0px;
  }
  .info__number {
    font-size:19px;
  }

  .appisode_im_star {
    width:44px;
    height:43px;
  }
  .appisode_im_title h3 {
    font-size:22px;
  }
  .appisode_im_title h4 {
    font-size:20px;
  }
  .appisode_im_title .time {
    padding-top:5px;
  }
  .icon_time {
    width:19px;
    height:21px;
    background-size:cover;
  }
  .appisode_im_touch p {
    width:7px;
    height:7px;
  }
  .appisode_im {
    height:89px;
    padding:10px 10px 10px;
  }
  .item-thumbnail-left, .item-thumbnail-left .item-content {
    min-height:80px;
    height:89px;
  }


 

  .sing-2__logo {
    width:102px;
    height:15px;
  }
}

@media screen and (min-width:480px) and (max-width: 600px) {
  .logo {
     width:27.73vw;
  }
  .header {
    height:50px;
    padding:16px 0;
  }
  .btn-bel_bt {
    width:33px;
  }
  .cover .search-header {
    width:72px;
    height:72px;
  }
  .search-header svg {
    width:100%;
  }
  .search-header #ico_magnifier {
    width:100%;
    height:100%;
  }
  .tabs__nav {
    height:55px;
  }
  .tabs__nav_item {
    height:56px;
    line-height:55px;
    font-size:24px;
  }
  .icon-star {
    width:36px;
    height:36px;
    top:10px;
  }
  .tabs__nav_item .icon {
    display:inline-block;
    background-size:cover;
  }
  .tabs__content_item_block {
    background-size:cover !important;
  }
  .title_en {
    font-size:24px;
    padding-top:32px;
  }
  .tittle_ru {
    font-size:44px;
    padding-top:24px;
  }
  .btn__like_bt {
    width:63px;
    height:63px;
  }
  .icon_like {
    width:31px;
    height:26px;
    background-size:cover;
  }
  .btn__bell_bt {
    width:63px;
    height:63px;
  }
  .icon_bell {
    width:25px;
    height:29px;
    background-size:cover;
  }
  .btn__left {
    padding-left:34px;
  }
  .btn__right {
    padding-right:34px;
  }
  .btn__center .onoffswitch {
    margin-top:0px;
  }
  .onoffswitch {
    width:217px;
    height:63px;
  }
  .onoffswitch-inner {
    height:60px;
    font-size:24px;
    line-height:60px;
  }
  .onoffswitch-switch {
    height:60px;
    font-size:24px;
    line-height:60px;
    transition: all 0.3s ease-in 0s;
  }
  .datte__item {
    font-size:24px;
  }
  .datte__item {
    font-size:24px;
  }
  .time__top_right {
    font-size:24px;
  }
  .time__top_center {
    font-size:24px;
  }
  .time__top_left {
    font-size:24px;
  }
  .time__bottom_left {
    font-size:54px;
  }
  .time__bottom_right {
    font-size:54px;
  }
  .time__bottom_center {
    font-size:54px;
  }
  .time {
    width:260px;
  }


  .closed {
    margin-right:38px;
    width:28px;
    height:28px;
  }
  .closed a {
    width:28px;
    height:28px;
  }
  .icon-closed {
    width:28px;
    height:28px;
    background-size:cover;
  }
  .search__text {
    height:86px;
  }
  .search__text input {
    height:86px;
  }
  .search-rezylt h2 {
    font-size:30px;
  }
  .search-rezylt__block_img {
    width:200px;
    margin-right:15px;
  }
  .search-rezylt__block_img img {
    width:100%;
  }
  .search-rezylt_title_ru {
    font-size:34px;
  }
  .search-rezylt_title_en {
    font-size:32px;
  }
  .search-rezylt__like {
    width:63px;
    height:63px;
  }
  .icon_like_info {
    width:31px;
    height:26px;
    background-size:cover;
  }
  .search-rezylt__dz {
    width:63px;
    height:63px;
    margin:0 10px;

  }
  .icon_dz {
    width:25px;
    height:29px;
    background-size:cover;
  }
  .search-rezylt__info {
    padding-top:20px;
  }
  .search-rezylt__text {
    display:inline-block;
    width:62px;
    padding-top:27px;
    top:0px;
  }
  .search-rezylt__text p {
    font-size:16px;
  }
  .search-rezylt {
    padding:0 20px 0;
  }


  .expanded {
    background-size:100%;
    background-repeat:no-repeat;
  }

  .sezon {
    font-size:26px;
  }
  .expanded__like_like {
    width:125px;
    height:125px;
    margin:0 auto;
  }
  .icon_like-bill {
    width:48px;
    height:42px;
    background-size:cover;
  }
  .expanded__like_sezon {
    margin-right: 20px;
    width: 95px;
  }
  .expanded__like_sezon .star_grey {
    width:48px;
    height:48px;
  }
  .icon_star-grey {
    width:24px;
    height:29px;
    background-size:cover;
  }
  .expanded__like_sezon .text {
    font-size:24px;
    padding-top:18px;
  }
  .expanded__slider_title {
    font-size: 26px;
    width: 36px;
    margin-left: 15px;
    padding-bottom: 17px;
  }

  .slick-slider {
    width:440px;
  }
  .expanded__slider_block {
    padding-left:20px;
    padding-right:20px;
  }
  .expanded__slider_block .touch {
    height:43px;
    padding-top:0px;
  }
  .expanded__slider_block .touch span {
    margin:1px 0;
    width:10px;
    height:10px;
  }
  .slick-slider .block.slick-center {
    width:59px;
    height:59px;
    line-height:59px;
    font-size:29px;
    color:#fff;
  }
  .slick-slider .slick-center .block-im {
    width:59px;
    height:59px;
    background:#d82b41;
  }
  .slick-slider .block {
    font-size:25px;
    color:#484849;
    width:59px;
    height:59px;
    line-height:59px;
  }
  .slick-slider .block-im {
    background:rgba(255,255,255,0);
    width:59px;
    height:59px;
    font-size:25px;
  }


  .arrow {
    width:12px;
    height:18px;
    margin-left:15px;
  }
  .icon_arrow-left {
    width:12px;
    height:18px;
    background-size:cover;
  }
  .info {
    height:88px;
    padding:25px 15px;
  }

  .info__im {
    font-size:22px;
    height: 32px;
    width: 120px;
  }
  .info__im:after {
    left:0px;
  }
  .info__number {
    font-size:22px;
  }

  .appisode_im_star {
    width:54px;
    height:53px;
  }
  .appisode_im_title h3 {
    font-size:24px;
  }
  .appisode_im_title h4 {
    font-size:22px;
  }
  .appisode_im_title .time {
    padding-top:9px;
  }
  .icon_time {
    width:23px;
    height:25px;
    background-size:cover;
  }
  .appisode_im_touch p {
    width:10px;
    height:10px;
  }
  .appisode_im {
    height:109px;
    padding:10px 15px 10px;
  }
  .item-thumbnail-left, .item-thumbnail-left .item-content {
    min-height:80px;
    height:109px;
  }
  .appisode_im_title {
    width:260px;
  }



  .call_like {
 
    margin:52px auto 62px;
  }


  .sing-2__logo {
    width:137px;
    height:20px;
  }
}