@font-face {
  font-family: BebasNeueBold;
  src: url(../fonts/BebasNeueBold.otf);
}
@font-face {
  font-family: BebasNeueBook;
  src: url(../fonts/BebasNeueBook.otf);
}
@font-face {
  font-family: BebasNeueRegular;
  src: url(../fonts/BebasNeueRegular.otf);
}
@font-face {
  font-family: BebasNeueThin;
  src: url(../fonts/BebasNeueThin.otf);
}
@font-face {
  font-family: BebasNeue-Light;
  src: url(../fonts/BebasNeue-Light.otf);
}

@font-face {
  font-family: PTSerifPro;
  src: url(../fonts/PTSerifPro.otf);
}
@font-face {
  font-family: PTSerifProBlack;
  src: url(../fonts/PTSerifProBlack.otf);
}
@font-face {
  font-family: PTSerifProBlackItalic;
  src: url(../fonts/PTSerifProBlackItalic.otf);
}
@font-face {
  font-family: PTSerifProBold;
  src: url(../fonts/PTSerifProBold.otf);
}
@font-face {
  font-family: PTSerifProBoldItalic;
  src: url(../fonts/PTSerifProBoldItalic.otf);
}
@font-face {
  font-family: PTSerifProBook;
  src: url(../fonts/PTSerifProBook.otf);
}
@font-face {
  font-family: PTSerifProBookItalic;
  src: url(../fonts/PTSerifProBookItalic.otf);
}
@font-face {
  font-family: PTSerifProCaption;
  src: url(../fonts/PTSerifProCaption.otf);
}
@font-face {
  font-family: PTSerifProCaptionItalic;
  src: url(../fonts/PTSerifProCaptionItalic.otf);
}
@font-face {
  font-family: PTSerifProDemi;
  src: url(../fonts/PTSerifProDemi.otf);
}
@font-face {
  font-family: PTSerifProDemiItalic;
  src: url(../fonts/PTSerifProDemiItalic.otf);
}

@font-face {
  font-family: PTSerifProExtended;
  src: url(../fonts/PTSerifProExtended.otf);
}
@font-face {
  font-family: PTSerifProExtendedBlack;
  src: url(../fonts/PTSerifProExtendedBlack.otf);
}
@font-face {
  font-family: PTSerifProExtendedBlackItalic;
  src: url(../fonts/PTSerifProExtendedBlackItalic.otf);
}
@font-face {
  font-family: PTSerifProExtraBold;
  src: url(../fonts/PTSerifProExtraBold.otf);
}
@font-face {
  font-family: PTSerifProExtraBoldItalic;
  src: url(../fonts/PTSerifProExtraBoldItalic.otf);
}
@font-face {
  font-family: PTSerifProExtendedBook;
  src: url(../fonts/PTSerifProExtendedBook.otf);
}
@font-face {
  font-family: PTSerifProExtendedBookItalic;
  src: url(../fonts/PTSerifProExtendedBookItalic.otf);
}
@font-face {
  font-family: PTSerifProExtendedBold;
  src: url(../fonts/PTSerifProExtendedBold.otf);
}
@font-face {
  font-family: PTSerifProExtendedBoldItalic;
  src: url(../fonts/PTSerifProExtendedBoldItalic.otf);
}
@font-face {
  font-family: PTSerifProExtendedDemi;
  src: url(../fonts/PTSerifProExtendedDemi.otf);
}
@font-face {
  font-family: PTSerifProExtendedDemiItalic;
  src: url(../fonts/PTSerifProExtendedDemiItalic.otf);
}
@font-face {
  font-family: PTSerifProExtendedExtraBold;
  src: url(../fonts/PTSerifProExtendedExtraBold.otf);
}
@font-face {
  font-family: PTSerifProExtendedExtraBoldItalic;
  src: url(../fonts/PTSerifProExtendedExtraBoldItalic.otf);
}
@font-face {
  font-family: PTSerifProItalic;
  src: url(../fonts/PTSerifProItalic.otf);
}

@font-face {
  font-family: PTSerifProNarrow;
  src: url(../fonts/PTSerifProNarrow.otf);
}
@font-face {
  font-family: PTSerifProNarrowBlack;
  src: url(../fonts/PTSerifProNarrowBlack.otf);
}
@font-face {
  font-family: PTSerifProNarrowBlackItalic;
  src: url(../fonts/PTSerifProNarrowBlackItalic.otf);
}
@font-face {
  font-family: PTSerifProNarrowBold;
  src: url(../fonts/PTSerifProNarrowBold.otf);
}
@font-face {
  font-family: PTSerifProNarrowBoldItalic;
  src: url(../fonts/PTSerifProNarrowBoldItalic.otf);
}
@font-face {
  font-family: PTSerifProNarrowBook;
  src: url(../fonts/PTSerifProNarrowBook.otf);
}
@font-face {
  font-family: PTSerifProNarrowBookItalic;
  src: url(../fonts/PTSerifProNarrowBookItalic.otf);
}
@font-face {
  font-family: PTSerifProNarrowDemi;
  src: url(../fonts/PTSerifProNarrowDemi.otf);
}
@font-face {
  font-family: PTSerifProNarrowDemiItalic;
  src: url(../fonts/PTSerifProNarrowDemiItalic.otf);
}
@font-face {
  font-family: PTSerifProNarrowExtraBold;
  src: url(../fonts/PTSerifProNarrowExtraBold.otf);
}
@font-face {
  font-family: PTSerifProNarrowItalic;
  src: url(../fonts/PTSerifProNarrowItalic.otf);
}