 





 
 @media screen and (max-width: 760px) {
 	.search-rezylt {
 		&__block {
 			&_img {
 				float:none;
				width:100%;
				text-align:center;
 			}
 			&_text {
 				text-align:center;
 				padding-top:35px;
 			}
 		}
 	}
 }





 @media screen and (max-width: 690px) {
 	.slik_slider {
 		width:430px;
 	}
 }


 @media screen and (max-width: 580px) {
	.onoffswitch {
		width:300px;
	}
	.tabs {
		&__nav {
			&_item {
				font-size:21px;
				.icon {
					display: none;
				}
			}
		} 
	}
	.appisode {
		&_im {
			padding:40px 10px 0 10px;
		}
	}
.expanded__like_like {
	margin-left:35px;
}
.sing-1 {
	&__logo {
		width:300px;
		a {
			display:block;
		}
		img {
			width:100%;
		}
	}
}
.sing-2 {
	&__number {
		width:300px;
		height:60px;
		line-height: 60px;
	}
}
 }

 @media screen and (max-width: 500px) {
	.appisode {
		&_im {
			&_title {
				margin-left:15px;
				width:150px;
				h3 {
					font-size:22px;
				}
				h4 {
					font-size:20px;
				}
				.time {
					font-size:18px;
				}
			}
			&_star {
				width:65px;
				height:65px;
				position:relative;
				top:7px;
			}
		}
	}
 }
 @media screen and (max-width: 470px) {
 	.slik_slider {
 		width:270px;
 	}
 }

 @media screen and (max-width: 450px) {
 	.header {
 		padding:24px 0;
 	}
 	.info {
 		&__number {
 			font-size:22px;
 		}
 		&__im {
 			font-size:22px;
 		}
 	}
 	.expanded__like_like {
 		width:100px;
 		height:100px;
 		margin-left:35px;
 	}
 	.search-rezylt {
 		padding-left:10px;
 		padding-right:10px;
 		&__text {
 			top:0px;
 			display:block;
 			margin:0 auto;
 			padding-top:35px;

 		}
 	}
 }